@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Farmacia "Tu salud en mis manos"</h1>
    <p><i>Curando tus enfermedades fatídicas desde 1762</i></p>
    <br />
    <br />
    <p>Ingrese el listado de fármacos:</p>
    <form asp-action="Index" method="post" enctype="multipart/form-data">
        <input type="file" name="postedFile" />
        <input type="submit" value="Import" />
    </form>
    <div class="text-center">
        <p style="font-size:larger; color:dodgerblue">@ViewData["Message"]</p>
    </div>
</div>
