@{
    ViewData["Title"] = "Politica sulla riservatezza";
}
<h1>@ViewData["Title"]</h1>

<h5>Esta página es secreta, usted no debería de estar aquí.</h5>
<div class="text-center">
    <marquee direction="right">Esta aplicación está corriendo desde su computadora. Trate de que no escape :)</marquee>
    <img srcset="https://i.pinimg.com/736x/de/a0/a7/dea0a7dc1d7ba33c63e3896b3f70f8cd.jpg" />
</div>